.logement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 350px);

  padding: 50px;
  padding-top: 0;
}

.logement-content {
  flex-grow: 1;
  gap: 20px;
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  width: 100%;
}

.logement-h1 {
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 51.34px;
  color: rgba(255, 96, 96, 1);
}

.logement-location {
  font-weight: 500;
  color: black;
  margin: 0px;
  font-size: 18px;
  line-height: 25.67px;
  margin-bottom: 20px;
}

.logement-tags {
  height: 25px;
  display: flex;
  gap: 10px;
}

.tag {
  min-width: 84px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 96, 96, 1);
}

.logement-collapse {
  display: flex;
  width: 100%;
  gap: 75px;
}

.logement-collapse .collapse-header {
  display: flex;
}

.logement-collapse .collapse-content {
  max-width: 100%;
  max-height: 100%;
}

.logement-owner {
  gap: 10px;
  display: flex;
  align-items: center;
  width: 167px;
  margin-bottom: 10px;
}
.logement-owner-texte {
  color: rgba(255, 96, 96, 1);
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}

.logement-owner-img {
  border-radius: 50px;
  width: 64px;
  height: 64px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.rating-stars {
  display: flex;
  gap: 20px;
}

.equipments-content-column {
  display: flex;
  flex-direction: column;
}

.logement-info {
  display: flex;
  justify-content: space-between;
}

.logement-owner-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 700px) {
  .logement-container {
    min-height: calc(100vh - 330px);
    padding: 20px;
  }

  .logement-collapse {
    flex-direction: column;
    gap: 35px;
  }

  .logement-info {
    flex-direction: column;
  }
  .logement-owner {
    justify-content: flex-end;
    margin-bottom: 0px;
  }
  .logement-owner-rating {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .rating-stars {
    height: 13px;
    gap: 5px;
  }
  .logement-h1 {
    font-size: 18px;
    line-height: 25px;
  }
  .logement-location {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .logement-owner-texte {
    margin: 0;
    font-size: 12px;
  }

  .logement-owner > img {
    width: 32px;
    height: 32px;
  }
  .logement-tags {
    height: 18px;
  }
  .tag {
    min-width: 0px;
    font-size: 10px;
  }
}
