.slide-container {
  display: flex;
  justify-content: center;

  height: 415px;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1240px;
  max-height: 415px;

  width: 100%;
}

.arrows {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
