.header {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.header-text {
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 57px;
}

.header-text :hover {
  text-decoration: underline;
}

.header-link.active {
  text-decoration: underline;
}

.header-link {
  text-decoration: none;
  color: black;
}
