.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 139px;
  margin-bottom: 139px;
  margin-top: 139px;
}

.error-texte {
  color: rgba(255, 96, 96, 1);
  font-size: 36px;
  font-weight: 500;
}

.error-lien {
  font-weight: 500;
  font-size: 18px;
  color: black;
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .error404 > img {
    width: 198px;
  }

  .error404 {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    gap: 80px;
    margin-bottom: 110px;
    margin-top: 110px;
  }

  .error-texte {
    text-align: center;
    font-size: 18px;
  }

  .error-lien {
    font-size: 14px;
  }
}
